:root {
  color-scheme: light;
  --color-gray-1: hsla(0, 0%, 100%, 1);
  --color-gray-2: hsla(0, 0%, 97.647%, 1);
  --color-gray-3: hsla(0, 0%, 94.118%, 1);
  --color-gray-4: hsla(0, 0%, 90.98%, 1);
  --color-gray-5: hsla(0, 0%, 88.235%, 1);
  --color-gray-6: hsla(0, 0%, 85.098%, 1);
  --color-gray-7: hsla(0, 0%, 80.784%, 1);
  --color-gray-8: hsla(0, 0%, 73.333%, 1);
  --color-gray-9: hsla(0, 0%, 54.902%, 1);
  --color-gray-10: hsla(0, 0%, 50.588%, 1);
  --color-gray-11: hsla(0, 0%, 38.824%, 1);
  --color-gray-12: hsla(0, 0%, 6%, 1);

  --color-brand-1: var(--color-orange-1);
  --color-brand-2: var(--color-orange-2);
  --color-brand-3: var(--color-orange-3);
  --color-brand-4: var(--color-orange-4);
  --color-brand-5: var(--color-orange-5);
  --color-brand-6: var(--color-orange-6);
  --color-brand-7: var(--color-orange-7);
  --color-brand-8: var(--color-orange-8);
  --color-brand-9: var(--color-orange-9);
  --color-brand-10: var(--color-orange-10);
  --color-brand-11: var(--color-orange-11);
  --color-brand-12: var(--color-orange-12);

  --color-blue-1: oklch(99.3% 0.004 251.56);
  --color-blue-2: oklch(98.3% 0.008 251.56);
  --color-blue-3: oklch(97.32% 0.0141 251.56);
  --color-blue-4: oklch(96.29% 0.0195 250.59);
  --color-blue-5: oklch(94.58% 0.0293 249.849);
  --color-blue-6: oklch(91.58% 0.0473 245.116);
  --color-blue-7: oklch(82.75% 0.0979 248.48);
  --color-blue-8: oklch(73.08% 0.1583 248.133);
  --color-blue-9: oklch(57.61% 0.2508 258.23);
  --color-blue-10: oklch(51.51% 0.2399 257.85);
  --color-blue-11: oklch(53.18% 0.2399 256.99);
  --color-blue-12: oklch(26.67% 0.1099 254.34);

  --color-red-1: oklch(99.3% 0.006 13.09);
  --color-red-2: oklch(98.3% 0.012 13.09);
  --color-red-3: oklch(96.5% 0.0223 13.09);
  --color-red-4: oklch(95.41% 0.0299 14.2526);
  --color-red-5: oklch(94.33% 0.0369 15.0115);
  --color-red-6: oklch(91.51% 0.0471 19.8);
  --color-red-7: oklch(84.47% 0.1018 17.71);
  --color-red-8: oklch(71.12% 0.1881 21.22);
  --color-red-9: oklch(62.56% 0.2524 23.03);
  --color-red-10: oklch(58.19% 0.2482 25.15);
  --color-red-11: oklch(54.99% 0.232 25.29);
  --color-red-12: oklch(24.8% 0.1041 18.86);

  --color-orange-1: oklch(99.3% 0.006 38);
  --color-orange-2: oklch(98.4% 0.016 38);
  --color-orange-3: oklch(97.48% 0.0331 38);
  --color-orange-4: oklch(96.81% 0.0495 38);
  --color-orange-5: oklch(95.93% 0.0636 38);
  --color-orange-6: oklch(91.02% 0.1322 38);
  --color-orange-7: oklch(86.55% 0.1583 38);
  --color-orange-8: oklch(80.25% 0.202 38);
  --color-orange-9: oklch(70.5% 0.22 37);
  --color-orange-10: oklch(66% 0.215 35);
  --color-orange-11: oklch(52.79% 0.17 33);
  --color-orange-12: oklch(30.83% 0.105 30);

  --color-amber-1: oklch(99.4% 0.006 95);
  --color-amber-2: oklch(98.7% 0.018 92);
  --color-amber-3: oklch(97.3% 0.038 90);
  --color-amber-4: oklch(96.3% 0.062 88);
  --color-amber-5: oklch(94.6% 0.085 86);
  --color-amber-6: oklch(91.5% 0.106 84);
  --color-amber-7: oklch(86.5% 0.122 82);
  --color-amber-8: oklch(80% 0.15 80);
  --color-amber-9: oklch(82% 0.164 85);
  --color-amber-10: oklch(77% 0.158 82);
  --color-amber-11: oklch(52% 0.108 78);
  --color-amber-12: oklch(30% 0.07 72);

  --color-green-1: oklch(99.3% 0.008 145.42);
  --color-green-2: oklch(98.4% 0.016 145.42);
  --color-green-3: oklch(97.59% 0.0289 145.42);
  --color-green-4: oklch(96.92% 0.037 147.15);
  --color-green-5: oklch(94.6% 0.0674 144.23);
  --color-green-6: oklch(91.49% 0.0976 146.24);
  --color-green-7: oklch(85.45% 0.1627 146.3);
  --color-green-8: oklch(80.25% 0.214 145.18);
  --color-green-9: oklch(64.58% 0.1746 147.27);
  --color-green-10: oklch(57.81% 0.1507 147.5);
  --color-green-11: oklch(51.75% 0.1453 147.65);
  --color-green-12: oklch(29.15% 0.1197 147.38);

  --color-purple-1: oklch(99.3% 0.006 282.19);
  --color-purple-2: oklch(98.3% 0.012 282.19);
  --color-purple-3: oklch(96.65% 0.0244 282.189);
  --color-purple-4: oklch(96.73% 0.0228 279.8);
  --color-purple-5: oklch(94.85% 0.0364 280.15);
  --color-purple-6: oklch(91.77% 0.0614 282.82);
  --color-purple-7: oklch(81.26% 0.1409 280.8);
  --color-purple-8: oklch(72.07% 0.2083 278.19);
  --color-purple-9: oklch(55.5% 0.3008 276.12);
  --color-purple-10: oklch(48.58% 0.2638 275.73);
  --color-purple-11: oklch(47.18% 0.2579 274);
  --color-purple-12: oklch(23.96% 0.13 275.66);

  --color-white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-gray-1: hsla(0, 0%, 7%, 1);
    --color-gray-2: hsla(0, 0%, 4%, 1);
    --color-gray-3: hsla(0, 0%, 15%, 1);
    --color-gray-4: hsla(0, 0%, 18%, 1);
    --color-gray-5: hsla(0, 0%, 22%, 1);
    --color-gray-6: hsla(0, 0%, 25%, 1);
    --color-gray-7: hsla(0, 0%, 29%, 1);
    --color-gray-8: hsla(0, 0%, 34%, 1);
    --color-gray-9: hsla(0, 0%, 45%, 1);
    --color-gray-10: hsla(0, 0%, 55%, 1);
    --color-gray-11: hsla(0, 0%, 72%, 1);
    --color-gray-12: hsla(0, 0%, 93%, 1);

    --color-brand-1: var(--color-purple-1);
    --color-brand-2: var(--color-purple-2);
    --color-brand-3: var(--color-purple-3);
    --color-brand-4: var(--color-purple-4);
    --color-brand-5: var(--color-purple-5);
    --color-brand-6: var(--color-purple-6);
    --color-brand-7: var(--color-purple-7);
    --color-brand-8: var(--color-purple-8);
    --color-brand-9: var(--color-purple-9);
    --color-brand-10: var(--color-purple-10);
    --color-brand-11: var(--color-purple-11);
    --color-brand-12: var(--color-purple-12);

    --color-blue-1: oklch(15% 0.004 251.56);
    --color-blue-2: oklch(18% 0.008 251.56);
    --color-blue-3: oklch(22% 0.0141 251.56);
    --color-blue-4: oklch(26% 0.0195 250.59);
    --color-blue-5: oklch(30% 0.0293 249.849);
    --color-blue-6: oklch(35% 0.0473 245.116);
    --color-blue-7: oklch(41% 0.0979 248.48);
    --color-blue-8: oklch(49% 0.1583 248.133);
    --color-blue-9: oklch(60% 0.2508 258.23);
    --color-blue-10: oklch(67% 0.2399 257.85);
    --color-blue-11: oklch(78% 0.2399 256.99);
    --color-blue-12: oklch(94% 0.1099 254.34);

    --color-red-1: oklch(15% 0.006 13.09);
    --color-red-2: oklch(18% 0.012 13.09);
    --color-red-3: oklch(22% 0.0223 13.09);
    --color-red-4: oklch(26% 0.0299 14.2526);
    --color-red-5: oklch(30% 0.0369 15.0115);
    --color-red-6: oklch(35% 0.0471 19.8);
    --color-red-7: oklch(41% 0.1018 17.71);
    --color-red-8: oklch(49% 0.1881 21.22);
    --color-red-9: oklch(60% 0.2524 23.03);
    --color-red-10: oklch(67% 0.2482 25.15);
    --color-red-11: oklch(78% 0.232 25.29);
    --color-red-12: oklch(94% 0.1041 18.86);

    --color-orange-1: oklch(15% 0.006 38);
    --color-orange-2: oklch(18% 0.016 38);
    --color-orange-3: oklch(22% 0.0331 38);
    --color-orange-4: oklch(26% 0.0495 38);
    --color-orange-5: oklch(30% 0.0636 38);
    --color-orange-6: oklch(35% 0.1322 38);
    --color-orange-7: oklch(41% 0.1583 38);
    --color-orange-8: oklch(49% 0.202 38);
    --color-orange-9: oklch(60% 0.22 37);
    --color-orange-10: oklch(67% 0.215 35);
    --color-orange-11: oklch(78% 0.17 33);
    --color-orange-12: oklch(94% 0.105 30);

    --color-amber-1: oklch(15% 0.006 95);
    --color-amber-2: oklch(18% 0.018 92);
    --color-amber-3: oklch(22% 0.038 90);
    --color-amber-4: oklch(26% 0.062 88);
    --color-amber-5: oklch(30% 0.085 86);
    --color-amber-6: oklch(35% 0.106 84);
    --color-amber-7: oklch(41% 0.122 82);
    --color-amber-8: oklch(49% 0.15 80);
    --color-amber-9: oklch(60% 0.164 85);
    --color-amber-10: oklch(67% 0.158 82);
    --color-amber-11: oklch(78% 0.108 78);
    --color-amber-12: oklch(94% 0.07 72);

    --color-green-1: oklch(15% 0.008 145.42);
    --color-green-2: oklch(18% 0.016 145.42);
    --color-green-3: oklch(22% 0.0289 145.42);
    --color-green-4: oklch(26% 0.037 147.15);
    --color-green-5: oklch(30% 0.0674 144.23);
    --color-green-6: oklch(35% 0.0976 146.24);
    --color-green-7: oklch(41% 0.1627 146.3);
    --color-green-8: oklch(49% 0.214 145.18);
    --color-green-9: oklch(60% 0.1746 147.27);
    --color-green-10: oklch(67% 0.1507 147.5);
    --color-green-11: oklch(78% 0.1453 147.65);
    --color-green-12: oklch(94% 0.1197 147.38);

    --color-purple-1: oklch(15% 0.006 282.19);
    --color-purple-2: oklch(18% 0.012 282.19);
    --color-purple-3: oklch(22% 0.0244 282.189);
    --color-purple-4: oklch(26% 0.0228 279.8);
    --color-purple-5: oklch(30% 0.0364 280.15);
    --color-purple-6: oklch(35% 0.0614 282.82);
    --color-purple-7: oklch(41% 0.1409 280.8);
    --color-purple-8: oklch(49% 0.2083 278.19);
    --color-purple-9: oklch(60% 0.3008 276.12);
    --color-purple-10: oklch(67% 0.2638 275.73);
    --color-purple-11: oklch(78% 0.2579 274);
    --color-purple-12: oklch(94% 0.13 275.66);
  }
}
