:root {
  --space-25: 0.25rem;
  --space-50: 0.5rem;
  --space-75: 0.75rem;
  --space-100: 1rem;
  --space-125: 1.25rem;
  --space-150: 1.5rem;
  --space-175: 1.75rem;
  --space-200: 2rem;
  --space-250: 2.5rem;
  --space-300: 3rem;
  --space-400: 4rem;
  --space-500: 5rem;
  --space-600: 6rem;
}
